auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  chunk_idle_period: 3m
  chunk_block_size: 262144
  chunk_retain_period: 1m
  max_transfer_retries: 0
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1

memberlist:
  abort_if_cluster_join_fails: false
  # Expose this port on all distributor, ingester
  # and querier replicas.
  bind_port: 7946
  # You can use a headless k8s service for all distributor,
  # ingester and querier components.
  join_members:
    - loki-headless.{{ .Release.Namespace }}.svc.cluster.local:7946

  max_join_backoff: 1m
  max_join_retries: 10
  min_join_backoff: 1s

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: {{ .Values.loki.objectStore }}
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /data/loki/boltdb-shipper-active
    cache_location: /data/loki/boltdb-shipper-cache
    cache_ttl: 24h         # Can be increased for faster performance over longer query periods, uses more disk space
    shared_store: {{ .Values.loki.objectStore }}
{{- if eq .Values.loki.objectStore "filesystem" }}
  filesystem:
    directory: /data/loki/chunks
{{- else if eq .Values.loki.objectStore "s3" }}
  {{- with .Values.loki.s3 }}
  aws:
    bucketnames: {{ .buckets }}
    endpoint: {{ .endpoint }}
    region: {{ .region }}
    sse_encryption: true
  {{- end }}
{{- end }}
chunk_store_config:
  max_look_back_period: 0s
table_manager:
  retention_deletes_enabled: false
  retention_period: 0s
compactor:
  working_directory: /data/loki/boltdb-shipper-compactor
  shared_store: filesystem
# Needed for Alerting: https://grafana.com/docs/loki/latest/alerting/
# This is just a simple example, for more details: https://grafana.com/docs/loki/latest/configuration/#ruler_config
#  ruler:
#    storage:
#      type: local
#      local:
#        directory: /rules
#    rule_path: /tmp/scratch
#    alertmanager_url: http://alertmanager.svc.namespace:9093
#    ring:
#      kvstore:
#        store: inmemory
#    enable_api: true
